/* Estilo global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f9;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header .menu li {
    margin: 0 10px;
}

header .menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

header .menu a:hover {
    text-decoration: underline;
}

/* Sección principal */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #32bbdd;
    padding: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #007bff;
}

.hero p {
    font-size: 1.2rem;
    color: #555;
}

/* Sección sobre Nosotros */
.about-us {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 800px;
    background-color: #333;
}

.about-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007bff;
}

.about-us p {
    font-size: 1rem;
    color: #555;
}

/* Sección de Servicios */
.services {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 800px;
    background-color: #32bbdd;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007bff;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.services li::before {
    content: "•";
    color: #007bff;
    margin-right: 8px;
}

/* Sección de Contacto */
.contact {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 800px;
    background-color: #555;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007bff;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.contact button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.contact button:hover {
    background-color: #0056b3;
}

/* Pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
